examples/basic-reputation-change-event-example.json
[
    {
        "id": "e0b83fd8.c5817",
        "type": "tab",
        "label": "TIE Reputation Change Event Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c20f4d01.73074",
        "type": "dxl-tie-file-reputation-change in",
        "z": "e0b83fd8.c5817",
        "name": "Receive TIE file reputation change event",
        "client": "",
        "payloadType": "obj",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "be00b774.9d4318"
            ]
        ]
    },
    {
        "id": "b42f7363.5cbf5",
        "type": "dxl-tie-certificate-reputation-change in",
        "z": "e0b83fd8.c5817",
        "name": "Receive TIE cert reputation change event",
        "client": "",
        "payloadType": "obj",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "be00b774.9d4318"
            ]
        ]
    },
    {
        "id": "be00b774.9d4318",
        "type": "debug",
        "z": "e0b83fd8.c5817",
        "name": "Output event payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 480,
        "y": 60,
        "wires": []
    }
]
