examples/basic-set-file-reputation-example.json
[
    {
        "id": "fb1213a5.c7aa6",
        "type": "tab",
        "label": "TIE Set File Reputation Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "64d301fb.643ca",
        "type": "dxl-tie-set-file-reputation",
        "z": "fb1213a5.c7aa6",
        "name": "Set reputation in TIE",
        "client": "",
        "trustLevel": "99",
        "comment": "Reputation set by OpenDXL",
        "x": 440,
        "y": 40,
        "wires": [
            [
                "90e4149a.6b3208"
            ]
        ]
    },
    {
        "id": "b29ed065.9113",
        "type": "inject",
        "z": "fb1213a5.c7aa6",
        "name": "Set hashes",
        "topic": "",
        "payload": "{\"md5\":\"f2c7bb8acc97f92e987a2d4087d021b1\",\"sha1\":\"7eb0139d2175739b3ccb0d1110067820be6abd29\",\"sha256\":\"142e1d688ef0568370c37187fd9f2351d7ddeda574f8bfa9b0fa4ef42db85aa2\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "d5eb214b.ed0cc"
            ]
        ]
    },
    {
        "id": "90e4149a.6b3208",
        "type": "debug",
        "z": "fb1213a5.c7aa6",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "d5eb214b.ed0cc",
        "type": "change",
        "z": "fb1213a5.c7aa6",
        "name": "Set file name",
        "rules": [
            {
                "t": "set",
                "p": "fileName",
                "pt": "msg",
                "to": "notepad.exe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 40,
        "wires": [
            [
                "64d301fb.643ca"
            ]
        ]
    }
]
