examples/basic-get-file-first-ref-example.json
[
    {
        "id": "17bf45d2.b2df7a",
        "type": "tab",
        "label": "TIE Get File First References Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2437d2a5.fbd07e",
        "type": "dxl-tie-get-file-first-references",
        "z": "17bf45d2.b2df7a",
        "name": "Get first references from TIE",
        "client": "",
        "returnType": "obj",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "a68fd3ea.9e28e"
            ]
        ]
    },
    {
        "id": "cb787d80.12d8f",
        "type": "inject",
        "z": "17bf45d2.b2df7a",
        "name": "Set hashes for Notepad.exe",
        "topic": "",
        "payload": "{\"md5\":\"f2c7bb8acc97f92e987a2d4087d021b1\",\"sha1\":\"7eb0139d2175739b3ccb0d1110067820be6abd29\",\"sha256\":\"142e1d688ef0568370c37187fd9f2351d7ddeda574f8bfa9b0fa4ef42db85aa2\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "2437d2a5.fbd07e"
            ]
        ]
    },
    {
        "id": "a68fd3ea.9e28e",
        "type": "debug",
        "z": "17bf45d2.b2df7a",
        "name": "Output first references",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "7f307342.bc61fc",
        "type": "inject",
        "z": "17bf45d2.b2df7a",
        "name": "Set hashes for EICAR",
        "topic": "",
        "payload": "{\"md5\":\"44d88612fea8a8f36de82e1278abb02f\",\"sha1\":\"3395856ce81f2b7382dee72602f798b642f14140\",\"sha256\":\"275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "2437d2a5.fbd07e"
            ]
        ]
    }
]
