examples/basic-set-cert-reputation-example.json
[
    {
        "id": "51bf5407.88418c",
        "type": "tab",
        "label": "TIE Set Certificate Reputation Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f78cea1a.85ffa8",
        "type": "dxl-tie-set-certificate-reputation",
        "z": "51bf5407.88418c",
        "name": "Set reputation in TIE",
        "client": "",
        "trustLevel": "99",
        "comment": "Reputation set via OpenDXL",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "445f2e40.a91f2"
            ]
        ]
    },
    {
        "id": "445f2e40.a91f2",
        "type": "debug",
        "z": "51bf5407.88418c",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "61d0a18.ae6aa6",
        "type": "inject",
        "z": "51bf5407.88418c",
        "name": "Specify cert hashes",
        "topic": "",
        "payload": "{\"certBodySha1\":\"6eae26db8c13182a7947982991b4321732cc3de2\",\"publicKeySha1\":\"3b87a2d6f39770160364b79a152fcc73bae27adf\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "db145b61.a22e68"
            ]
        ]
    },
    {
        "id": "db145b61.a22e68",
        "type": "change",
        "z": "51bf5407.88418c",
        "name": "Set hash request parameters",
        "rules": [
            {
                "t": "set",
                "p": "sha1",
                "pt": "msg",
                "to": "payload.certBodySha1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "publicKeySha1",
                "pt": "msg",
                "to": "payload.publicKeySha1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "f78cea1a.85ffa8"
            ]
        ]
    }
]
