examples/basic-set-file-reputation-example.json
[
    {
        "id": "fd97a500.897e08",
        "type": "tab",
        "label": "TIE Set File Reputation Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "adee8c75.f75d6",
        "type": "dxl-tie-set-file-reputation",
        "z": "fd97a500.897e08",
        "name": "Set reputation in TIE",
        "client": "",
        "trustLevel": "99",
        "comment": "Reputation set by OpenDXL",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "7263943c.85126c"
            ]
        ]
    },
    {
        "id": "be71a71f.339e18",
        "type": "inject",
        "z": "fd97a500.897e08",
        "name": "Specify hashes",
        "topic": "",
        "payload": "{\"md5\":\"f2c7bb8acc97f92e987a2d4087d021b1\",\"sha1\":\"7eb0139d2175739b3ccb0d1110067820be6abd29\",\"sha256\":\"142e1d688ef0568370c37187fd9f2351d7ddeda574f8bfa9b0fa4ef42db85aa2\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "5f60fedb.5be85"
            ]
        ]
    },
    {
        "id": "7263943c.85126c",
        "type": "debug",
        "z": "fd97a500.897e08",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "5f60fedb.5be85",
        "type": "change",
        "z": "fd97a500.897e08",
        "name": "Set hashes and filename request parameters",
        "rules": [
            {
                "t": "set",
                "p": "hashes",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fileName",
                "pt": "msg",
                "to": "notepad.exe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "adee8c75.f75d6"
            ]
        ]
    }
]
