examples/basic-get-cert-reputation-example.json
[
    {
        "id": "56a913fe.c0faec",
        "type": "tab",
        "label": "TIE Get Certificate Reputation Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4668bae2.faa7c4",
        "type": "dxl-tie-get-certificate-reputation",
        "z": "56a913fe.c0faec",
        "name": "Get reputation from TIE",
        "client": "",
        "returnType": "obj",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "236c332.35ed5cc"
            ]
        ]
    },
    {
        "id": "236c332.35ed5cc",
        "type": "debug",
        "z": "56a913fe.c0faec",
        "name": "Output reputation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "a933701a.48939",
        "type": "inject",
        "z": "56a913fe.c0faec",
        "name": "Specify cert hashes",
        "topic": "",
        "payload": "{\"certBodySha1\":\"6eae26db8c13182a7947982991b4321732cc3de2\",\"publicKeySha1\":\"3b87a2d6f39770160364b79a152fcc73bae27adf\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "d76877f2.fa73a8"
            ]
        ]
    },
    {
        "id": "d76877f2.fa73a8",
        "type": "change",
        "z": "56a913fe.c0faec",
        "name": "Set hash request parameters",
        "rules": [
            {
                "t": "set",
                "p": "sha1",
                "pt": "msg",
                "to": "payload.certBodySha1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "publicKeySha1",
                "pt": "msg",
                "to": "payload.publicKeySha1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "4668bae2.faa7c4"
            ]
        ]
    }
]
