examples/basic-set-cert-reputation-example.json
[
    {
        "id": "4f27eb02.3f6fd4",
        "type": "tab",
        "label": "TIE Set Certificate Reputation Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "742d473f.1654c8",
        "type": "dxl-tie-set-certificate-reputation",
        "z": "4f27eb02.3f6fd4",
        "name": "Set reputation in TIE",
        "client": "",
        "trustLevel": "99",
        "comment": "Reputation set via OpenDXL",
        "x": 540,
        "y": 40,
        "wires": [
            [
                "213c2b.769993d6"
            ]
        ]
    },
    {
        "id": "7980a90d.b34208",
        "type": "inject",
        "z": "4f27eb02.3f6fd4",
        "name": "Set cert hashes",
        "topic": "",
        "payload": "{\"certBodySha1\":\"6eae26db8c13182a7947982991b4321732cc3de2\",\"publicKeySha1\":\"3b87a2d6f39770160364b79a152fcc73bae27adf\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "523dc154.16232"
            ]
        ]
    },
    {
        "id": "213c2b.769993d6",
        "type": "debug",
        "z": "4f27eb02.3f6fd4",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "523dc154.16232",
        "type": "change",
        "z": "4f27eb02.3f6fd4",
        "name": "Set params for request",
        "rules": [
            {
                "t": "set",
                "p": "publicKeySha1",
                "pt": "msg",
                "to": "payload.publicKeySha1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.certBodySha1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 40,
        "wires": [
            [
                "742d473f.1654c8"
            ]
        ]
    }
]
