examples/basic-get-cert-first-ref-example.json
[
    {
        "id": "33845424.03d77c",
        "type": "tab",
        "label": "TIE Get Certificate First References Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93618e95.dbb09",
        "type": "dxl-tie-get-certificate-first-references",
        "z": "33845424.03d77c",
        "name": "Get first references from TIE",
        "client": "",
        "returnType": "obj",
        "x": 560,
        "y": 40,
        "wires": [
            [
                "d55e15b4.ded828"
            ]
        ]
    },
    {
        "id": "cc10caec.6af558",
        "type": "inject",
        "z": "33845424.03d77c",
        "name": "Set cert SHA1",
        "topic": "",
        "payload": "6eae26db8c13182a7947982991b4321732cc3de2",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "c8b22918.e768c8"
            ]
        ]
    },
    {
        "id": "c8b22918.e768c8",
        "type": "function",
        "z": "33845424.03d77c",
        "name": "Set cert public key SHA1",
        "func": "msg.publicKeySha1 = '3b87a2d6f39770160364b79a152fcc73bae27adf'\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 40,
        "wires": [
            [
                "93618e95.dbb09"
            ]
        ]
    },
    {
        "id": "d55e15b4.ded828",
        "type": "debug",
        "z": "33845424.03d77c",
        "name": "Output first references",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 800,
        "y": 40,
        "wires": []
    }
]
