examples/basic-get-file-reputation-example.json
[
    {
        "id": "f2d50ad6.508878",
        "type": "tab",
        "label": "TIE Get File Reputation Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e7369704.4b8368",
        "type": "dxl-tie-get-file-reputation",
        "z": "f2d50ad6.508878",
        "name": "Get reputation from TIE",
        "client": "",
        "returnType": "obj",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "9cb89222.1ae39"
            ]
        ]
    },
    {
        "id": "5797a2c6.c88e1c",
        "type": "inject",
        "z": "f2d50ad6.508878",
        "name": "Set hashes for Notepad.exe",
        "topic": "",
        "payload": "{\"md5\":\"f2c7bb8acc97f92e987a2d4087d021b1\",\"sha1\":\"7eb0139d2175739b3ccb0d1110067820be6abd29\",\"sha256\":\"142e1d688ef0568370c37187fd9f2351d7ddeda574f8bfa9b0fa4ef42db85aa2\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "e7369704.4b8368"
            ]
        ]
    },
    {
        "id": "9cb89222.1ae39",
        "type": "debug",
        "z": "f2d50ad6.508878",
        "name": "Output reputation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "5e69b05a.4c3ae",
        "type": "inject",
        "z": "f2d50ad6.508878",
        "name": "Set hashes for EICAR",
        "topic": "",
        "payload": "{\"md5\":\"44d88612fea8a8f36de82e1278abb02f\",\"sha1\":\"3395856ce81f2b7382dee72602f798b642f14140\",\"sha256\":\"275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "e7369704.4b8368"
            ]
        ]
    }
]
