examples/basic-get-cert-reputation-example.json
[
    {
        "id": "8f92ab11.fd1818",
        "type": "tab",
        "label": "TIE Get Certificate Reputation Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1699641.b86798",
        "type": "dxl-tie-get-certificate-reputation",
        "z": "8f92ab11.fd1818",
        "name": "Get reputation from TIE",
        "client": "",
        "returnType": "obj",
        "x": 550,
        "y": 40,
        "wires": [
            [
                "d9af767d.3df538"
            ]
        ]
    },
    {
        "id": "ca2ea132.74562",
        "type": "inject",
        "z": "8f92ab11.fd1818",
        "name": "Set cert SHA1",
        "topic": "",
        "payload": "6eae26db8c13182a7947982991b4321732cc3de2",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "e5fdd645.9c2438"
            ]
        ]
    },
    {
        "id": "e5fdd645.9c2438",
        "type": "function",
        "z": "8f92ab11.fd1818",
        "name": "Set cert public key SHA1",
        "func": "msg.publicKeySha1 = '3b87a2d6f39770160364b79a152fcc73bae27adf'\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 40,
        "wires": [
            [
                "c1699641.b86798"
            ]
        ]
    },
    {
        "id": "d9af767d.3df538",
        "type": "debug",
        "z": "8f92ab11.fd1818",
        "name": "Output reputation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 40,
        "wires": []
    }
]
